// --- BASE ---

main {
  font-family: $main-font;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $main-color;

  //alla element som har klassen hidden blir gömda
    .hidden {
        display: none;
    }

    .startPage, 
    .endPage {
        //Lägger till end page här för att kunna återanvända stylign för knappen
        width: 100%;
        height: 100vh;
        h1 {
            color: $text-color;
            font-size: 1.2rem;
            text-transform: uppercase;
            font-weight: 600;
            margin-left: 0.5rem;
        }

        button,
        .button {
            //stylar bort så knappen ser ut som text 
            //.button är knappen på end page 
            background: none;
            border: none;
            text-decoration: underline;
            cursor: pointer;
            margin-top: 5rem;
            font-size: 1.2rem;
            margin-left: 0.5rem;

            &:hover { //knappens text blir lite tjockare när man hovrar
                font-weight: 500;
            }
        }
    }

    // ################# //
    // #### QUIZ PAGE ## //
    // ################# //

    .quizPage {
        width: 100%;
        height: 100vh;
        
        input {
            -webkit-appearance: none; 
            width: 20px;
            height: 20px;
            border: 2px solid #555;
            border-radius: 4px;
            background-color: white;
            cursor: pointer;
            display: inline-block;
            position: relative;
        }

        input:checked {
            background-color: rgb(226, 180, 51); 
        }

        .questionWrapper {
            display: flex;
            align-items: center; 
            justify-content: center; 
            height: 100vh; 
            form {
                fieldset {
                    display: flex;
                    flex-direction: column;
                    gap: 0.1rem;
                }
            }
        }
        
        // .quizBtn {
        //     position: absolute;
        //     bottom: 37%;
        //     left: 24%;
        // }


    .endPage { //styling end page 

        .result { //statisk resultattext
            margin-top: 5rem;
            margin-left: 1rem;
        }

        .printSummary { //resultat som genereras från main.ts
            margin-top: 1rem;
            margin-left: 1rem;
            line-height: 1.5rem;

            .time { //span element för att kunna lägga tid-resultatet på en ny rad
                display: block;
            }
        }

        .button { //flyttar ner knappen lite
            margin-top: 10rem; 
        }


    }
}
  
